.formulario-input{
    padding:5px 10px;    
    margin-left: 5px;
}
.input-text{
    width: 50%;
}
.input-button{
   display: inline-block; 
   border: .094em solid #369b7c; 
   background-color: #79aca4;;
   box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
   color: #FFF;
   text-decoration: none;  
   text-shadow: 0 .063em #000;
   cursor:pointer;
   font: bold 0.9rem sans-serif;  
}